---
---

<section class="py-12 sm:py-32 mb-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl mb-8">
        Join our Customer Advisory Board
      </h2>
      <div class="mt-6 flex items-center justify-center gap-x-6">
        <a
          href="/apply"
          class="rounded-full bg-shadow-blue px-3.5 py-2 text-md font-semibold text-white shadow-sm hover:bg-opacity-90 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-shadow-blue"
        >
          Apply now
        </a>
      </div>
    </div>
  </div>
</section>
