---
---

<section class="relative overflow-hidden py-60">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <h1 class="text-4xl font-bold tracking-tight sm:text-6xl mb-8 bg-gradient-to-r from-shadow-blue to-shadow-magenta bg-clip-text text-transparent">
        Get yourself on Autopilot.
      </h1>
      <p class="mt-6 text-lg leading-8 text-gray-300">
        The new AI task management tool that works for you, <br> automating tasks so you can focus on what matters.
      </p>
      <div class="mt-10 flex justify-center gap-4">
        <a
          href="/apply"
          class="rounded-full bg-shadow-blue px-6 py-3 text-lg font-semibold text-white shadow-sm hover:bg-opacity-90 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-shadow-blue transition-all"
        >
          Join our Customer Advisory Board
        </a>
      </div>
    </div>
  </div>
</section>
