---
---

<section class="relative overflow-hidden py-48">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <h1 class="text-4xl font-bold tracking-tight sm:text-6xl mb-8 bg-gradient-to-r from-shadow-blue to-shadow-magenta bg-clip-text text-transparent flowing-gradient">
        Your better self
      </h1>
      <p class="mt-6 text-lg leading-8 text-gray-300">
        Shadow is your digital double that learns your playbook,<br> to recommend and do what you should do next.
      </p>
      <div class="mt-10 flex justify-center gap-4">
        <a
          href="/apply"
          class="rounded-full bg-shadow-blue px-6 py-3 text-lg font-regular text-white shadow-sm hover:bg-opacity-90 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-shadow-blue transition-all"
        >
          Join waitlist
        </a>
      </div>
    </div>
  </div>
</section>

<style>
  .flowing-gradient {
    background-size: 200% 200%;
    animation: gradient-flow 6s ease infinite;
  }
  
  @keyframes gradient-flow {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
</style>
