---
import { Image } from 'astro:assets';
import funLogo from '../assets/main-logo.svg';
---

<nav class="fixed w-full z-50 bg-black/80 backdrop-blur-sm nav-container">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-[75px] items-center justify-between">
      <div class="flex items-center">
        <a href="/" class="flex items-center">
          <Image
            src={funLogo}
            alt="Shadow Logo"
            class="h-8 w-auto"
            width={30}
            height={30}
          />
        </a>
      </div>
      <div class="flex items-center">
        <a
          href="/leaderboard"
          class="px-3.5 py-2 text-sm font-semibold text-white shadow-sm hover:bg-opacity-90 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-shadow-blue">
          Leaderboard
        </a>
        <a
          href="/apply"
          class="rounded-full bg-shadow-blue px-3.5 py-2 text-sm font-semibold text-white shadow-sm hover:bg-opacity-90 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-shadow-blue">
          Join waitlist
        </a>

      </div>
    </div>
  </div>
</nav>

<script>
  // Function to toggle border based on scroll position
  function toggleNavBorder() {
    const nav = document.querySelector('.nav-container');
    if (window.scrollY > 0) {
      nav.classList.add('border-b', 'border-gray-800');
    } else {
      nav.classList.remove('border-b', 'border-gray-800');
    }
  }

  // Initial call to set correct state on page load
  toggleNavBorder();
  
  // Add scroll event listener
  window.addEventListener('scroll', toggleNavBorder);
</script>
